.logo-header{
  color:white;
  margin: 0;
  font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.tag-span{
  background-color: beige;
  font-family: monospace;
}
